head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
    style.
        body {
            color: #fff;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(90deg, black, #0b0b46);
        }
        .form-component {
            max-width: 500px;
        }
        .btn {
            float: right;
            background-color: #0f151d;
            border-color: #0f151d;
        }
