doctype html
html
    include ./head.pug
    body
        div
            if(user)
                h3 Cześć, jesteś zalogowany jako #{user.displayName}
            p
                |    Od teraz możesz korzystać z naszych usług.
