.TodoApp {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(120deg, red,blue);
    position: relative;
}
